<img src = "/images/one.gif">

  <p>
<form action='/chattext2' method='post'><center>
      <input type="text" placeholder="Name" name="name">
    <button type="submit" class="btn">Submit</button>
    </form>
  </p></center>