<br><br><br><div class="hero-unit"><center>
  <h1>Welcome to Blackjack!</h1>
  <p>What is your name?</p>
  <p>
<form action='/new' method='post'>
      <input type="text" placeholder="Name" name="name">
    <button type="submit" class="btn">Submit</button>
    </form>
  </p></center>
</div>
<!-- 
<center><form action='/new' method='post'>
  <fieldset>
    <legend>Hello! Welcome to Blackjack</legend>
    <label>What is your name?</label>
    <input type="text" placeholder="Name" name="name">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form></center> -->

